@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
.erro
{
	color: #f00;
}

ul.cadastro-indentado,
ul.cadastro-indentado-i
{
	width: 100%;
	padding-left: 0 !important;
	margin-left: 0 !important;
}
form li,
ul.cadastro-indentado li,
ul.cadastro-indentado-i li
{
	float: left;
	width: 100%;
	list-style: none;
}
ul.cadastro-indentado li {
	height: 54px;
}
.stepContainer
{
	height: 544px !important;
	overflow: hidden;
}
.error {
	color: red;
	font-family: 'Roboto Condensed', Verdana, Arial, sans-serif;
	font-size: 14px;
}
.buttonFinish {
	height: 36px !important;
	margin-top: 5px !important;
}
.wizard_steps li {
	/*min-width: 230px !important;*/
	width: 181px !important;
}
.alert {
	clear: both !important;
}
.alert-danger {
	clear: both !important;
}

/* estilização de formulário */
form input[type=text],
form input[type=select], select, option {
	text-transform: uppercase;
}

label {
	clear: both;
	line-height: 0.8em !important;
}

/* função e folhas de estilo para tabelas. Deixar tabela responsiva
/* Table Base */

table {
	max-width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
	font-family: arial;
}

.table {
	border-bottom: #999999 solid 1px;
	width: 100%;
	margin-bottom: 20px;
}

.table th,
.table td {
	border-right: #999999 solid 1px;
	font-size: 12px;
	padding: 8px;
	line-height: 20px;
	text-align: left;
	vertical-align: middle;
}
.table td {
	font-size: 15px !important;
}

.table td:last-child {
	border-right: 0;
}

.table thead th {
	font-weight: normal;
	background-color: #2A3F54;
	color: #fff;
	font-size: 15px;
}

.table tbody > tr:nth-child(odd) > td,
.table tbody > tr:nth-child(odd) > th {
	background-color: #f8f8f8;
}


/* Small Sizes */
@media (max-width: 767px) {

	/* Responsive Table */
	.table-responsive {
		display: block;
		position: relative;
		width: 100%;
	}

	.table-responsive thead,
	.table-responsive tbody,
	.table-responsive th,
	.table-responsive td,
	.table-responsive tr {
		display: block;
	}
	.table-responsive td,
	.table-responsive th {
		height: 35px;
	}

	.table-responsive thead {
		float: left;
	}

	.table-responsive tbody {
		width: auto;
		position: relative;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		white-space: nowrap;
	}

	.table-responsive tbody tr {
		display: inline-block;
	}


	.table td:last-child {
		border-right: #999999 solid 1px;
	}
}
